@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  word-spacing: 10px;
}

@media only screen and (max-width: 500px) {
 h1{
  word-spacing: 5px;
  font-size: 4px;
  /* padding-right: 10px; */
  margin-left: -10%;
 }

 .hey{
  margin-left: -10%;
  
 }
 input{
  width: 62%;
 }

 .add{
  margin-left: 35%;
 }

 h5{
  margin-left: -50%;
  margin-right: -10%;
 }

 .hd{
  margin-left: -50%;
 }

 .delete{
  margin-right: -5%;
 }
}